
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">



<nav class="navbar navbar-expand-sm navbar-light">
    <div class="container-fluid">
        <a class="navbar-brand" ><i class="fa fa-cutlery fa-2x text-danger" aria-hidden="true"></i>
          FoodKart</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>


        <div class="collapse navbar-collapse" id="collapsibleNavbar">
          <div class="mx-auto"></div>

          <ul class="navbar-nav" style="font-weight: 900;margin: 0;">
            <li class="nav-item">
              <a class="nav-link" routerLink='/'>Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink='/signup'>Sign Up</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink='/admin'>Admin</a>
            </li>
          </ul>
        </div>
      </div>
  </nav>
  


